# Dependências do Composer (Nunca enviar isto!)
/vendor/

# Ficheiros de Cache do Fat-Free
/tmp/
public_html/tmp/

# Ficheiros de Sistema e IDEs
.DS_Store
Thumbs.db
.idea/
.vscode/

# Logs (se houver)
*.log